<ul class="list-group border rounded-0">
  <li class="list-group-item text-muted" aria-current="true">10 dic 2023</li>
  <li class="list-group-item border-top">
    <div class="d-flex project">
      <div class="project--name"><project-name></project-name></div>
      <div class="project--tools d-flex ms-auto">
        <div class="project__tool"><project-tags></project-tags></div>
        <div class="project__tool"><in-out-time></in-out-time></div>
        <div class="project__tool">
          <h5 class="mt-2 text-secondary">00:00:00</h5>
        </div>
        <div class="project__tool">
          <div class="dropdown">
            <button
              class="btn text-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-three-dots-vertical h4"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item active" href="#">Rectime</a></li>
              <li><a class="dropdown-item" href="#">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
