<div class="sidebar bg-white">
  <ul class="sidebar--list">
    <li
      class="sidebar__item"
      routerLink="/projects"
      routerLinkActive="sidebar_selected"
    >
      <p class="sidebar__icon mb-0"><i class="bi bi-list-task"></i>Proyectos</p>
    </li>
    <li
      class="sidebar__item"
      routerLink="/teams"
      routerLinkActive="sidebar_selected"
    >
      <p class="sidebar__icon mb-0"><i class="bi bi-people"></i>Teams</p>
    </li>
    <li
      class="sidebar__item"
      routerLink="/rectime"
      routerLinkActive="sidebar_selected"
    >
      <p class="sidebar__icon mb-0"><i class="bi bi-vinyl"></i>RecTimes</p>
    </li>
  </ul>
</div>
